:root {
  --color-1: #EEEEED;
  --color-2: #C8BBB2;
  --color-3: #A1867F;
  --color-4: #7B5554;
  --color-5: #543137;
  --color-6: #2E161E;
  --color-7: #070205;

  --main-bg-color: var(--color-1);
  --main-text-color: var(--color-7);
  --second-bg-color: var(--color-6);
  --second-text-color: var(--color-1);
}



body, .background{
  color: var(--main-text-color);
  background:  var(--main-bg-color);


}

.inline{
  display: inline-block;
}



.lion{
  display: inline;
  margin: auto;
  width: 50%;
  z-index: 0;
  animation: fade-in-out 5s infinite;
}

.all{
  width: 100vw;
  padding-top: 5%;
}

.w-lion{
  position: absolute;
  width:3em;
  right: 1%;
  top: 1%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-center{
  display: flex;
  align-self: center;
}

.welcome-text{
  padding: 1%;
  text-align: center;
  width: 100%;
}


.welcome-body{
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  height: auto !important;
  height: 50vh;
  width: 50%;
  margin: auto;
  color: var(--main-text-color);
  font-family: 'Doppio One', sans-serif;
  padding-top: 3%;
}

.welcome-body a{
    color: var(--main-text-color);
}

.center-text{
  text-align: center;
  flex-direction: column;
}


@import url('https://fonts.googleapis.com/css?family=Doppio+One|Open+Sans');

.name{
  display: flex;
  flex-direction: row;
   font-size: 10vh;
   font-family: 'Doppio One', sans-serif;
   background-color: var(--second-bg-color);
   color: var(--second-text-color);
   padding-bottom: 1vh;


}

.hamburger-container{
  width: 7%;
  flex-direction: column;
  justify-content: center;
  height: auto !important;
  position: absolute;
  right: 1vw;
  top: 2vh;
  padding: 1vh;
  z-index: 2;
  cursor: pointer;
}


.hamburger-line{
  margin-top:10%;
  margin-bottom:auto 10%;
  /*margin: auto;*/
  width: 100%;
  height: 1.5vh;

  background-color: var(--main-bg-color);
}

.blink{

  animation:
  fade-in 3s
}


.fade-in{

  animation:
  fade-in 3s
}


.about-snippet{
  background-color: var(--second-bg-color);
  box-shadow: 2px 2px 2px black;
  /*color: var(--second-text-color);*/
  margin-bottom: .5%;
}

p{
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 3ex;
  width: 80%;
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.info-button{
  display: flex;
  flex-direction: column;
  font-family: 'Doppio One', sans-serif;
  font-size: 3vh;
  color: var(--second-bg-color);
  text-align: center;
  /*height: 3em;*/
  margin: 1vw;
  /*background-color: ;*/
  cursor: pointer;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  z-index: 10;
  /*padding: 5%;*/
}

.info-button:hover{
  background-color: var(--color-3);
  /*margin-left: 1em;*/
}




.button-container{
margin: 0 auto;
display: flex;
flex-direction: row;
}


.bottom{
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: var(--second-bg-color);
  width: 100%;
  height: 1em;
  text-align: right;
  color: var(--color-7);
}


.title{
  font-family: 'Doppio One', sans-serif;
  color: var(--second-bg-color);
  font-size: 6vw;
  width: 100%;
}

.text{
  padding-top: 1vh;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--second-bg-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing .5s steps(40, end),
    blink-caret .75s step-end infinite,
    fade-in 2s;
}

.about-body{

font-family: 'Doppio One', sans-serif;
align-items: center;
margin: auto;
width: 80%;
padding-bottom: 10vh;

}



.project-description{
  display: flex;
  flex-direction: column;

  /*padding-top: 5vw;*/
  /*margin-left: 10vw;*/
  /*margin-right: 10vw;*/
}


.project-box-container{

  padding-top: 5vh;
  margin-left: 1vw;
  display: flex;
  align-self: center;
  flex-direction: row;
  float: left;
}

.project-box{
  background-color: var(--second-bg-color);
  font-family: 'Doppio One', sans-serif;
  color: var(--second-text-color);
  border-style: solid;
  padding: 3vh;
  margin: auto;
  width: 25vh;
  transition-property: all;
    transition-delay: 1s;
}

.project-box:hover{
  background-color: var(--color-4);
  cursor: pointer;

}

.project-text{
  display: flex;
  margin: auto;
  align-self: center;
  align-items: center;
}

.project-item{
  display: flex;
  flex-direction: column;
  align-self: center;
margin: auto;
}

.project-title{
  font-family: 'Doppio One', sans-serif;
  color: var(--second-bg-color);
  font-size: 3vw;
  width: 100%;
}

.project-border{

}

.project-image{
width: 80%;
padding-top: 4vh;
padding-bottom: 1vh;
}



.project-desc-text{
  padding: 1% 5% 1% 5%;
  width: 70%;
  margin-top: 1vw;
  align-self: center;
  /*display: flex;*/
  margin: auto;
  border-style: solid;
  border-color: var(--second-bg-color);
    background-color: var(--second-bg-color);
      color: var(--color-2);
}
.spacing{
  height: 5vh;
}
.visit-link{
  font-family: 'Doppio One', sans-serif;
  font-size: 2vw;
  cursor: pointer;
  color: var(--main-bg-color)
}

a{
  color: var(--color-1);
}

.contact{
  padding: 1vh;
}

.contact-links{
  padding: 5vh;
}

.contact img, .contact svg{
  padding: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  height: 6vh;
  width: 6vh;
     fill: var(--color-6);
}

.contact a{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-6)
}

.contact a:hover, .contact img:hover, .contact svg:hover{
  color: var(--color-3);
  fill: var(--color-3);
  border-radius: 5%;
  cursor: pointer;
}




.auto_margin{
  margin: auto;
}


.crop {
  padding: 3vh;
      /*width: 100vh;
      height: 100vh;*/
    /*overflow: hidden;*/
    align-self: center;
}

.crop img {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    align-self: center;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--second-bg-color); }
}

@keyframes blink-caret-2 {
  from, to { border-color: transparent }
  50% { border-color: var(--second-text-color)}
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in-out {
  from, to { opacity: 1; }
  50% { opacity: .80; }
}
